---
import ChangeLanguage from 'src/component/change_language.astro';
import Internationalization from 'src/component/internationalization.astro';
import { defaultLanguage, supportedLanguages } from 'src/configuration/language';
import { landingLocale } from 'src/locale/landing_locale';
import { getI18n, getStaticLanguage } from 'src/util/i18n';

export const getStaticPaths = () => { return getStaticLanguage(supportedLanguages); };

const { language } = Astro.locals;
const i18n = getI18n(language, landingLocale);
---
<html lang={language}>
  <Internationalization
    defaultLanguage={defaultLanguage}
    supportedLanguages={supportedLanguages}
  />
  <h1>{i18n.aboutUsTitle}</h1>
  <ChangeLanguage />
</html>