---
import ChangeLanguage from 'src/component/change_language.astro';
import { supportedLanguages } from 'src/configuration/language';
import { landingLocale } from 'src/locale/landing_locale';
import { getI18n, getStaticLanguage } from 'src/util/i18n';
import { interpolate } from 'src/util/interpolate';

export const getStaticPaths = () => { return getStaticLanguage(supportedLanguages); };

const { language } = Astro.locals;
const i18n = getI18n(language, landingLocale);
---
<html lang={language}>
  <h1>{interpolate(i18n.title, { projectName: 'Astro' })}</h1>
  <ChangeLanguage />
</html>