---
import { replaceLanguageInUrl } from 'src/util/i18n';
import { buildUrl } from 'src/util/url';

const currentUrl = buildUrl(Astro.url.pathname, Astro.site);
const { language } = Astro.locals;
---
<div>
  <h2>Change language</h2>
  <a href={replaceLanguageInUrl(currentUrl, language, 'en')}>English</a>
  <a href={replaceLanguageInUrl(currentUrl, language, 'es')}>Spanish</a>
  <a href={replaceLanguageInUrl(currentUrl, language, 'fr')}>French</a>
</div>
